header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  header {
    align-items: flex-start;
    flex-direction: column;
  }

  header .btn-primario {
    width: 100%;
  }
}
